:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #333333;
  background-color: #f9f9f9;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #f9f9f9;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.1;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

button {
  border-radius: 4px;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #4a154b;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #611f69;
}

button:focus,
button:focus-visible {
  outline: 3px solid #ddd;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
}
